body {
   margin: 0;
   font-size: 20px;
   line-height: 30px;
}
header{
    background-color: lightskyblue;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
h1,h2 {
    font-family: 'Odibee Sans', cursive;
}
header h1{
    color: black;
    font-size: 50px;
    
}
header img {
    border-radius: 140px;
    width: 300px;
    border: 10px solid white;
    
}
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px 20px;
}
main img {
    max-width: 100%;
}
h2{
    font-size: 20px;
    color: darkcyan;
    margin: 40px 0 10px;
}
a{
    color: darkcyan;
}
a:hover{
    color:purple;
    background-color: gold;
}
footer{
    background-color: lightskyblue;
    text-align: center;
    color: white;
    padding: 50px;
}
footer p{
    margin: 0;
}
footer a{
    color: white;
}
footer a:hover{
    opacity: 0.5;
    background-color: transparent;
}
p.caption{
    color:red;
    font-style: italic;
    margin-top: 0;
}
